.juzmon_first-info_flex-row {
    flex-direction: row-reverse;
    @include flex2;
    .vhfy_box {
        h2 {
            @include font;
            font-size: 48px;
            line-height: 56px;
            color: #000000;
            @include mix-blend; 
        }  
        p {
            @include font;
            margin-bottom: 55px;
            font-weight: 300;
            font-size: 21px;
            line-height: 32px;
        }
        .consult_today {
            padding: 15px 25px;
            color: #458ff6;
            border-radius: 55px;
            font-family: "Mulish";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            text-decoration: none;
            border: 1px solid #458ff6;
        }
    }
}